@model VMController.Models.ProcessosRPA

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProcessosRPA</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProcesso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProcesso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusProcesso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusProcesso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VirtualMachine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VirtualMachine.idVM)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdProcesso">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
